[Desktop Entry]
Type=Application
Name=template
Exec=sh -c '~/git/templates/autostart/templates.sh'
Terminal=false

GenericName=test file
StartupNotify=false
TryExec=